.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 60px);
    overflow: hidden;
    width: 100vw;
}

.bar {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-bottom: 5px;
    transition: height 0.3s ease, background-color 0.3s ease;
    background-color: #c1ffc1;
}

@media (max-width: 768px) {
    .bodyContainer {
        gap: 4px;
    }

    .bar {
        width: 3px;
        height: 6px;
        margin-bottom: 3px;
    }
}
